<!DOCTYPE html>
<html>
  <head>
    <base target="_top">
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1,width=device-width">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  </head>
  <style>
    .loading-indicator { font-weight: bold;font-size: 2rem;text-align: center;}
  </style>

  <body>
    
    <div id="app" class="container is-fluid mt-3">
      <div class="columns">
        <div class="column">
          <!-- Thông báo lỗi -->
          <div v-if="error.length > 0" class="notification is-danger is-light">
            <button class="delete"></button>
            {{ error }}
          </div>

          <!-- Dữ liệu QR sau khi đọc và giải mã sẽ được lưu trong biến result -->
          <p class="decode-result mb-3">Dữ liệu QR: <b>{{ result }}</b></p>

          <!-- Vùng hiện ảnh QR -->
          <qrcode-stream @decode="onDecode" @init="onInit" v-if="!destroyed">
            <div class="loading-indicator" v-if="loading">
              Đang khởi động Camera...
            </div>
          </qrcode-stream>
        </div>
      </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.13"></script>
    <script src="https://unpkg.com/vue-qrcode-reader/dist/VueQrcodeReader.umd.min.js"></script>
    
    <script>
      const API_URL = "https://script.google.com/macros/s/AKfycbx9gaxBTN7lMJeK7MwWALc3GEEZmWV4UxuMMGSGz81UwJQRzpwa-O0_XOEXBiDHj-Ab/exec"
      var vue =  new Vue({
        el: '#app',
        data: function () {
          return {
            result: '',
            error: '',
            loading: false,
            destroyed: false,
            sendingData: false
          }
        },
        methods: {
          onDecode (result) {
            this.result = result
            const options = {
              method: 'POST',
              contentType: 'application/json',
              body: JSON.stringify({ qrdata: result })
            }
            try {
              const response = fetch(API_URL, options)
                .then(response => response.json())
                .then(data => {
                  alert("Đẩy dữ liệu thành công")
                  this.workstation = ''
                  this.result = ''
                })
            } catch(e) {
              alert("Có lỗi xảy ra.")
            }
          },
          async onInit (promise) {
            this.loading = true

            try {
              await promise
            } catch (error) {
              console.error(error)
              this.error = error
            } finally {
              this.loading = false
            }
          },

          async reload () {
            this.destroyed = true

            await this.$nextTick()

            this.destroyed = false
          }
        }
      })
    </script>
  </body>
</html>
